/* -------------------------------------------------- */
/* BLOCKQUOTE
/* -------------------------------------------------- */    

blockquote {
    position: relative;

    width: 100%;
    /*border-left: 1px solid $white-color;*/
}

blockquote::after {
    font-family: 'FontAwesome';
    font-size: 4em;

    position: absolute;
    z-index: auto;
    top: -0.25em;
    left: 0.12em;

    content: '\f10d';

    opacity: 0.15;
}

blockquote p, cite {
    color: map-get(map-get($colors, primary), base);
}
