
<!-- CONTENT: FORM -->
<form class="form-register-small position-relative text-center" onsubmit="return login(this)">


	<!-- GRID -->
	<div class="grid-x align-center align-middle center margin-tb-sm width-xs">


			<!-- CELL -->
			<div class="cell small-12 medium-8">
				<input type="email" name="email" placeholder="Email address" maxlength="255" class="field" aria-label="Please enter your email address." required>
			</div>
			<!-- // CELL -->


			<!-- CELL -->
			<div class="cell small-12 medium-4">
				<input type="submit" value="START FOR FREE" class="submit" aria-label="Sign up for a FREE account.">
			</div>
			<!-- // CELL -->


	</div>
	<!-- // GRID -->


	<!-- CAPTCHA -->
	<!--<div class="g-recaptcha" id="recaptcha_small"></div>-->
	<!-- // CAPTCHA -->


	<!-- SOCIAL -->
	<!--<span class="text-light-grey text-uppercase text-bold">Or sign in using</span>-->

	
	<ul class="list-horizontal list-margin-xs margin-bottom-md bottom">
		
		<li><a href="#" class="f_login_btn login-button facebook prevent-default font-alt" aria-label="Sign in with Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span><span>Sign in with Facebook</span></a></li>
		
		<li><a href="#" class="g_login_btn login-button google prevent-default font-alt" aria-label="Sign in with Google"><img src="{{ root }}assets/icon-google.svg" alt="Sign in with Google"><span>Sign in with Google</span></a></li>
		
	</ul>	
	
	
	<!--
	<ul class="social-icons style-01 list-margin-lr-xs margin-bottom-lg bottom">
		<li><a href="#" class="f_login_btn social-icon-facebook prevent-default" aria-label="Sign in using Facebook."><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
		<li><a href="#" class="g_login_btn social-icon-google-plus prevent-default" aria-label="Sign in using Google Plus."><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
	</ul>
	-->
	
	
	<!--
	<ul class="social-icons style-01 list-margin-lr-xs margin-top-xs margin-top-none-mobile bottom">
		<li><a href="#" class="f_login_btn social-icon-facebook prevent-default" aria-label="Sign in using Facebook."><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
		<li><a href="#" class="g_login_btn social-icon-google-plus prevent-default" aria-label="Sign in using Google Plus."><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
	</ul>
	-->
	<!-- // SOCIAL --> 


</form>
<!-- // CONTENT: FORM -->
