
<!-- CONTENT: STORIES -->
{{#each stories.content}}


	<!-- CARD -->
    <div id="{{ id }}" class="card cell border-xs border-solid border-secondary overflow-visible" data-content-url="{{ link }}" data-content-selector="story-{{ id }}" data-content-width="auto" data-content-height="auto">

		
		<!-- ICON -->
		<div class="story-icon position-absolute wh-xs center round-full background-accent top-offset no-pointer">
			<img src="{{ icon }}" alt="{{ title }}" class="padding-sm center-vh">
		</div>
		<!-- // ICON -->
		
		
		<!-- COPY -->
		<div class="text-container">
			
			<h3 class="h5 text-accent">{{ subtitle }}</h3>
			<p class="text-white text-truncate-fade">{{ description }}</p>
			
		</div>
		<!-- // COPY -->
		
		
		<!-- BUTTON -->
		<div class="margin-bottom-xs text-accent text-white-hover text-bold text-uppercase button background-transparent background-transparent-hover no-touch-feedback prevent-default">
			<span class="fa fa-external-link margin-right-xs"></span>Read story
		</div>
		<!-- // BUTTON -->
		
		
		<!-- IMAGE -->
		<div class="position-absolute top left round-md width-full height-full background-cover background-no-repeat lazy" data-src="{{ image }}"></div>
		<!-- // IMAGE -->
		
		
	</div>
	<!-- // CARD -->


{{/each}}
<!-- // CONTENT: STORIES -->
