/* -------------------------------------------------- */
/* MENU BAR
/* -------------------------------------------------- */

/* COMMON */
.menubar {
    position: relative;
    /*top: 0;*/

    /*overflow: hidden;*/

    width: 100%;
}

.menubar .cell {
    position: relative;
}


/* -------------------------------------------------- */
/* LOGO
/* -------------------------------------------------- */

/* PARENT */
#navbar-logo a svg,
#nav-panel-logo a svg {
    width: 100%;
    max-width: 100px;

    transform: scale(1);
}


/* PATH */
#navbar-logo a svg path {
    fill: var(--primary-color);
}


/* HOVER */
#navbar-logo a svg:hover path {
    fill: var(--secondary-color);
}


/* THEME */
#navbar.dark .menubar #navbar-logo a svg path {
    fill: var(--secondary-color);
}

#navbar.dark .menubar #navbar-logo a svg:hover path {
    fill: var(--primary-color);
}

#navbar.sticky.dark .menubar #navbar-logo a svg path {
    fill: var(--white-color);
}

#navbar.sticky.dark .menubar #navbar-logo a svg:hover path {
    fill: var(--primary-color);
}


/* STICKY */
#navbar.sticky .menubar #navbar-logo a svg,
#nav-panel.sticky .menubar #nav-panel-logo a svg {
    transform: scale(0.9);
}

#navbar.sticky .menubar #navbar-logo a svg path {
    fill: var(--primary-color);
}

#navbar.sticky .menubar #navbar-logo a svg:hover path,
#navbar.sticky .menubar #nav-panel-logo a svg:hover path {
    fill: var(--white-color);
}


/* -------------------------------------------------- */
/* CALLOUT
/* -------------------------------------------------- */

/* COMMON */
#navbar-callout,
#nav-panel-callout {
    /*margin: 0 1rem 0 1rem;*/
}

#navbar-callout a,
#nav-panel-callout a {
    font-size: 1em;
    font-weight: bold;

    margin: 0 auto 0 auto;
    padding: 1rem 1.5rem 1rem 1.5rem;

    border-radius: 100px 100px 100px 100px;
    box-shadow: var(--box-shadow-sm);
}


#navbar-callout a .fa,
#nav-panel-callout a .fa {
    color: #00fac8 !important;
}


/* PARENT */
#navbar-callout a {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

#nav-panel-callout a {
    color: var(--white-color);
    background-color: var(--secondary-color);
}


/* HOVER */
#navbar-callout a:hover {
    color: var(--accent-color);
    background-color: var(--charcoal-color);
    box-shadow: var(--box-shadow-xl);
}

#nav-panel-callout a:hover {
    color: var(--secondary-color);
    background-color: var(--white-color);
}


/* THEME */
#navbar.dark #navbar-callout a {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

#navbar.dark #navbar-callout a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* STICKY */
#navbar.sticky #navbar-callout a {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

#navbar.sticky #navbar-callout a:hover {
    color: var(--secondary-color);
    background-color: var(--white-color);
}


/* -------------------------------------------------- */
/* MENU LABEL
/* -------------------------------------------------- */

/* PARENT */
#navbar-label,
#nav-panel-label {
    font-size: 1em;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--white-color);
}


/* HOVER */
#navbar-label:hover + .nav-toggle div .hamburger span::before {
    transform: translateX(0);
}

#navbar-label:hover + .nav-toggle div .hamburger span::after {
    transform: translateX(200%);
}


/* THEME */
#navbar.dark .menubar #navbar-label {
    color: var(--secondary-color);
}

#navbar.sticky.dark .menubar #navbar-label {
    color: var(--white-color);
}


/* STICKY */
#navbar.sticky #navbar-label {
    color: var(--white-color);
}
